<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="/">
                <span class="light">NY</span> Freedom Forum
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <% if !logged_in? %>
                  <li>
                    <a href="/reports">View Reports</a>
                  </li>
                  <li>
                    <a href="/login">Log In</a>
                  </li>
                  <li>
                      <a href="/signup">Sign Up</a>
                  </li>
                <% else %>
                  <li>
                    <a href="/reports/new">New Report</a>
                  </li>
                  <li>
                    <a href="/<%= @user.slug %>">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <div class="container vert-center">
    <h2><center>Staten Island</center></h2>
    </br><br>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>User</th>
          <th>Date Posted</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr class='clickable-row' data-href="../reports/<%=report.slug%>">
            <td><a href="/reports/<%=report.slug%>"><%= report.title %></a></td>
            <td><%= report.location %></td>
            <% if report.user_id != nil %>
              <% user = User.find(report.user_id) %>
              <td><a href="/<%=user.slug%>"><%= user.username %></a></td>
            <% else %>
              <td>computer</td>
            <% end %>
              <td><%= report.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <script src="/js/grayscale.js"></script>

</body>
