<body>

  <!-- Navigation -->
  <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="/">
                <span class="light">NY</span> Freegan Forum
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <% if !logged_in? %>
                  <li>
                    <a href="/reports">View Reports</a>
                  </li>
                  <li>
                    <a href="/login">Log In</a>
                  </li>
                  <li>
                      <a href="/signup">Sign Up</a>
                  </li>
                <% else %>
                  <li>
                    <a href="/reports/new">New Report</a>
                  </li>
                  <li>
                    <a href="/<%= @user.slug %>">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

<form class="form-horizontal vert-center responsive-margin" action="/reports/<%=@report.slug%>" method="POST">
  <input type='hidden' name="_method" value="PATCH">

    <!-- Form Name -->
    <h1 class="text-center">Edit Report</h1>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="title">Title</label>
      <div class="col-md-4">
        <input id="title" name="title" placeholder="title" class="form-control input-md" type="text" value="<%= @report.title%>">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Business</label>
      <div class="col-md-4">
        <input id="business" name="business" placeholder="name of business" class="form-control input-md" type="text" value="<%= @report.business%>">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Location</label>
      <div class="col-md-4">
        <input id="location" name="location" placeholder="address or cross-streets" class="form-control input-md" type="text" value="<%= @report.location%>">
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Summary</label>
      <div class="col-md-4">
        <textarea class="form-control" rows="12" id="textarea" name="content" placeholder="type of a brief summary of your experience"><%= @report.content%></textarea>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Date</label>
      <div class="col-md-4">
      <input id="date" name="date" placeholder="date" class="form-control input-md" type="text" value="<%= @report.date%>">
      <span class="help-block">YYYY-MM-DD</span>
      </div>
    </div>

    <!-- Multiple Radios -->

    <div class="form-group">
      <label class="col-md-4 control-label" for="radios">Borough</label>
        <div class="col-md-4">
          <% Borough.all.each do |borough| %>
            <label class="radio-inline"><input type="radio" name="borough" value="<%=borough.name%>" id="<%=borough.name%>"<%= "checked" if (@report.borough == borough) %>><%=borough.name%></label>
          <% end %>
          <br><br>
          <button class="btn btn-lg btn-info btn-block" value="Edit" name="button" type="submit">Save Edits</button>
        </div>
    </div>
  </form>

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <script src="/js/grayscale.js"></script>

</body>
