<div class="container">
  <h1 class="text-center"><%=@report.title%></center></h1>
    <p>Borough: <%= @report.borough.name %>
    <p>Date: <%= @report.date.strftime('%A, %b %d, %Y') %></p>
    <p>Name of Business: <%= @report.business %></p>
    <p>Address/Location: <%= @report.location %></p>
    <p>Summary: <%= @report.content %></p>
    <a href="/reports/:slug/edit">Edit</a>
</div>
