<body>
  <!-- Navigation -->
  <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="/">
                <span class="light">NY</span> Freedom Forum
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <% if !logged_in? %>
                  <li>
                    <a href="/reports">View Reports</a>
                  </li>
                  <li>
                    <a href="/login">Log In</a>
                  </li>
                  <li>
                      <a href="/signup">Sign Up</a>
                  </li>
                <% else %>
                  <li>
                    <a href="/reports/new">New Report</a>
                  </li>
                  <li>
                    <a href="/<%= @user.slug %>">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

<div class="container vert-center">
  <h1 class="text-center"><%=@report.title%></center></h1>
    <p>Borough: <%= @report.borough.name %>
    <p>Date: <%= @report.date.strftime('%A, %b %d, %Y') %></p>
    <p>Name of Business: <%= @report.business %></p>
    <p>Address/Location: <%= @report.location %></p>
    <p>Summary: <%= @report.content %></p>
    <br>
    <div class="text-center ">
      <form action="/reports/<%=@report.slug%>/edit" style="display: inline-block">
        <input type="submit" id="Edit" value="Edit" style="background-color: #EEEEEE; width: 120px; font-family: 'Montserrat'; font-size: 25px; border: solid 2px #6E6E6E; color: black; border-radius: 10%" />
      </form>

      <form action="/reports/<%= @report.slug %>/delete" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="Delete" />
        <input type="submit" id="Delete" value="Delete" style="background-color: #EEEEEE; width: 120px; font-family: 'Montserrat'; font-size: 25px; border: solid 2px #6E6E6E; color: black; border-radius: 10%" />
      </form>
    </div>
</div>

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <script src="/js/grayscale.js"></script>

</body>
