<body>
  <!-- Navigation -->
  <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="/">
                <span class="light">NY</span> Freegan Forum
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <% if !logged_in? %>
                  <li>
                    <a href="/reports">View Reports</a>
                  </li>
                  <li>
                    <a href="/login">Log In</a>
                  </li>
                  <li>
                      <a href="/signup">Sign Up</a>
                  </li>
                <% else %>
                  <li>
                    <a href="/reports/new">New Report</a>
                  </li>
                  <li>
                    <a href="/<%= @user.slug %>">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <div class="container show vert-offset-top-2-percent">
      <h1 class="text-center"><%=@report.title%></h1>
      <p id="subheader" class="text-center"><%= @report.date.strftime('%A, %B %e, %Y') %></p>
      <p>Borough: <strong><%= @report.borough.name %></strong><p>
      <p>Business: <strong><%= @report.business %></strong></p>
      <p>Location: <strong><%= @report.location %></strong></p>
      <p id="content" class="vert-offset-top-3"><%= @report.content %></p>
      <br>
  </div>

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <script src="/js/grayscale.js"></script>

</body>
